.div-bar {
    border-right: 1px solid #D0D0D0;
    height: 440px;
}

.inner-lookup-error-panel {
    margin-top: 100px;
    margin-left: 17%;
    color: white;
    padding: 10px;
    background-color: #C00000;
    width: 70%;
}

.input-standin {
    color: #757575;
}

.radio.inline {
    padding-top: 0px;
    color: #757575;
}

#by-study-id-panel {
    display: none;
}

#edit-pane {
    display: none;
}

#expected-lookup-error {
    display: none;
}

#inner-lookup-instructions-panel {
    margin-top: 100px;
    margin-left: 17%;
    font-size: 21px;
    color: #C0C0C0;
    width: 70%;
}

#loading-lookup-panel {
    display: none;
    margin-top: 100px;
    margin-left: 17%;
}

#loading-update-panel {
    display: none;
    margin-top: 20px;
}

#study-body {
    color: #757575;
}

#study-table th {
    font-weight: normal;
    min-width: 100px;
    text-align: left;
}

#study-table tr {
    border-bottom: #D0D0D0 1px solid;
}

#unexpected-lookup-error {
    display: none;
}

#update-fail-msg {
    display: none;
    color: white;
    padding: 10px;
    background-color: #C00000;
    width: 70%;
    margin-top: 20px;
}

#update-success-msg {
    display: none;
    background-color: #00C000;
    color:white;
    padding:10px;
    width: 70%;
    margin-top: 20px;
}