{% extends "base.html" %}

{% block contents %}
<h3>Change Password</h3>
<form method="POST">
    <div class="form-entry">
        <label>Current password</label>
        <input type="password" name="current_password" name="password">
        <label>New password</label>
        <input type="password" name="new_password" name="password">
        <label>Confirm new password</label>
        <input type="password" name="confirm_new_password" name="password">
    </div>
    <input class="btn btn-primary" value="Change password" type="submit"> or <a href="/account">cancel</a>.
</form>
{% endblock %}