{% extends "base.html" %}

{% block contents %}
<div class="hero-unit">
    <h3>Create, update, and delete user accounts.</h3>
    <p>
        DaxlabBase supports user access controls and individual user account management.
    </p>
</div>
<div class="format-control">
    <table class="table table-striped"><tbody>
        <tr>
            <th>email</th>
            <th>can enter data</th>
            <th>can edit parents</th>
            <th>can access data</th>
            <th>can change formats</th>
            <th>can use API key</th>
            <th>can change user accounts</th>
            <th>edit account</th>
            <th>delete account</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.can_enter_data == 1 }}</td>
            <td>{{ user.can_edit_parents == 1 }}</td>
            <td>{{ user.can_access_data == 1 }}</td>
            <td>{{ user.can_change_formats == 1 }}</td>
            <td>{{ user.can_use_api_key == 1 }}</td>
            <td>{{ user.can_admin == 1 }}</td>
            <td>
                <a href="/base/edit_users/{{ user.email }}/edit">edit</a>
            </td>
            <td>
                <a href="/base/edit_users/{{ user.email }}/delete">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody></table>
    <a href="/base/edit_users/_add">Add new user >></a>
</div>
{% endblock %}