{% extends "base.html" %}
{% block contents %}
<div class="hero-unit">
    <h3>Contribute to the CU Language Project</h3>
    <p>
        Thank you for taking time to assist the CU Language Project and
        research into early language acquisition. Unfortunately, it looks like you may have copied / pasted the URL for this form incorrectly or you (or someone pretending to be you) already completed this form.
    </p>
    <p>
        Still have questions? Please respond to the email you recieved and we will respond ASAP.
    </p>
</div>
{% endblock %}