{% extends "base.html" %}

{% block contents %}
<div class="hero-unit">
    <h3>Add new MCDI results.</h3>
    <p>
        DaxlabBase makes adding new MCDIs easy. Start by selecting an MCDI format below.
    </p>
</div>

<div class="small-center-content" id="unselected-mcdi-selector">
    <h3>Select MCDI format</h3>
    <ul>
        {% for format in formats %}
        <li><a href="/base/enter_data/{{ format.safe_name }}">{{ format.human_name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}