{% extends "base.html" %}

{% block contents %}
<div class="jumbotron">
    <div class="container">
        <h3>Your Privacy Matters to Us</h3>
        <p>
            Information about the terms of using this site and your privacy.
        </p>
    </div>
</div>
<div>
    <div>
          <p>
          Your privacy is very important to us. In addition to <a href="https://www.colorado.edu/policies/privacy-statement">CU's general privacy policy</a> that applies to this application, we invite you to <a href="mailto:language.project@colorado.edu">reach out to us via this link</a> with questions or requests related to your data.
          </p>

          <p>We want you to know the following about the application:</p>
          <ul>
              <li>You may only use this online application if you are at least 16 years of age.</li>
              <li>In completing this application you may provide some information about yourself or your child. This will be used for the purposes of research into early language acquisition.</li>
              <li>The details of data usage are contained within your consent form. Depending on the study, the data may be retained indefinitely after the completion of the study to allow
researchers to refer back to previous procedures to replicate them, to confirm the validity of
reported results, and to conduct further measures and analyses, with appropriate Institutional
Review Board approval.</li>
              <li>This data will be made accessible in our system to select authorized internal researchers and data are anonymized where possible. You and your child’s individual privacy will be maintained in all published and
written data resulting from this study. No data will be provided in a manuscript or written data that links results with names of participants.</li>
              <li>We may use contact information you provide to talk to you about this program.</li>
              <li>We do not sell your personal data.</li>
          </ul>

          <p>By using this application that you are also consenting to / affirming the following:</p>
          <ul>
              <li>I am at least 16 years of age.</li>
              <li>I consent to the use of "cookies" which help this website to function properly and securely. These are small text files saved to your computer that lets the application identify you while you are on this website. I consent to use of cookies. I understand that I will have the right to withdraw this consent at any time by contacting the project at the link above. However, I also understand that doing so prevents me from using the online application.</li>
              <li>I consent to the transfer of my personal data to the application servers located in the United States. I understand that I will have the right to withdraw this consent at any time by contacting the program but doing so will prevent me from continuing to use the online application.</li>
              <li>I consent to the collection of some personal data required for research. I agree to the transfer of that personal data to application servers located in the United States. I understand that I will have the right to withdraw this consent at any time by contacting the program but doing so will prevent me from continuing to use the online application.</li>
              <li>I understand I can request removal of my data by contacting the program at the link above.</li>
          </ul>
      </div>
</div>
{% endblock %}
